.alfresco-layout-LeftAndRight {
   width: 100%;

   &__left {
      float: right;
      > * {
         float: right;
      }
   }

   &__right {
      float: left;
      > * {
         float: left;
      }
   }
}
